.carousel {
  position: relative; /* Position relative pour que les boutons soient positionnés par rapport à ce conteneur */
}

.carousel__container {
  display: flex; /* Utilise flexbox pour aligner les éléments enfants */
  gap: 16px; /* Espace entre les éléments enfants 16px */
  overflow-x: scroll; /* Ajoute un défilement horizontal si le contenu déborde */
  margin-left: -24px; /* Marge négative à gauche pour coller le carousel au bord de l'écran */
  margin-right: -24px; /* Marge négative à droite pour coller le carousel au bord de l'écran */
  scroll-snap-type: x mandatory; /* Définit le type de défilement pour accrocher les éléments */
  scroll-behavior: smooth; /* Ajoute un défilement fluide */
}

.carousel__item {
  flex: 1 0 100%; /* L'élément prend 1 part de l'espace disponible, ne rétrécit pas, et a une largeur de base de 100% */
  scroll-snap-align: center; /* Aligne l'élément au centre lors du défilement */
}

.carousel__item img {
  display: block; /* Affiche l'image comme un bloc */
  width: 100%; /* Largeur de l'image à 100% */
  height: auto; /* Hauteur de l'image ajustée automatiquement pour conserver les proportions */
}


.carousel__button {
  width: 50px; /* Largeur du bouton 50px */
  height: 50px; /* Hauteur du bouton 50px */
  display: flex; /* Utilise flexbox pour aligner le contenu du bouton */
  align-items: center; /* Aligne le contenu du bouton au centre verticalement */
  justify-content: center; /* Centre le contenu du bouton horizontalement */
  border: solid 1px; /* Bordure solide de 1px */
  border-radius: 100px; /* Bordure arrondie pour faire un cercle */
  position: absolute; /* Position absolue pour placer les boutons sur le carrousel */
  top: 50%; /* Place les boutons au milieu verticalement */
  transform: translateY(-50%); /* Centre les boutons verticalement */
  background-color: white; /* Ajoute un fond blanc pour les boutons */
  cursor: pointer; /* Change le curseur en pointeur pour indiquer que c'est cliquable */
}

.carousel__button--prev {
  left: 10px; /* Place le bouton précédent à gauche */
  transform: translateY(-50%) rotate(180deg); /* Fait pivoter le bouton de 180 degrés */
}

.carousel__button--next {
  right: 10px; /* Place le bouton suivant à droite */
  transform: translateY(-50%); /* Centre verticalement */
}